*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;

}

.container{
    width: 500px;
    margin: 20px auto;

}
.form{
    background-color: rgb(234, 221, 204);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;

}

.input{
    height: 30px;
    width: 250px;
    margin: 5px;
    border: solid rgb(194, 117, 117) 2px;
    border-radius: 3px;
    flex: 1;
}
.input:focus{
    outline: none;
}

.add{
    background-color: #e8948e;
    border-radius: 3px;
    height: 30px;
    width: 80px;
    color: rgb(4, 12, 10);
    font-size: 16px;
    cursor: pointer;
}
.tasks{
    background-color: #e5d0d0;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

.task {
    background-color:white;
    border-radius: 3px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: solid #ccc 2px;
}

.task:not(:last-child){
margin-bottom: 15px;}
.task:hover{
    background-color: #b9afaf;
}
 .done{
    opacity: 0.5;
}
.task span{
    background-color: red;
    font-weight: bold;
    font-size: 10px;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}










/* ===============
   1. HEADER
================ */

/* ===============
   1. INPUT
================ */

/* ===============
   1. OUTPUT
================ */


